@charset "euc-jp";

/* ------- URBAN REIGN CSS ------- */

body	{ margin: 0px; padding: 0px; }
img		{ margin: 0px; padding: 0px; border: 0px; }	
img.redLine		{ border: 0px solid #F00; }	

p.para		{ font-size: 14px; line-height: 200%; color: #FFF; }
p.paras		{ font-size: 12px; line-height: 120%; color: #FFF; margin-top: 5px; }
P.min		{ font-family: "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3"; }
a.lnavi 	{font-size: 14px; line-height: 200%; color: #C11616; text-decoration: none;}
a.lnavi:hover		{ font-size: 14px; line-height: 200%; color: #C11616; text-decoration: underline; }
a			{ font-size: 14px; line-height: 125%; color: #C11616; text-decoration: none; }
a:hover		{ font-size: 14px; line-height: 125%; color: #C11616; text-decoration: underline; }
.bold		{ font-weight: bold; }

#cont		{ width: 760px; background: no-repeat right top url("../img/all/head_bg.jpg")/*tpa=common/img/all/head_bg.jpg*/;}

#mainBackground	{ background: center repeat-y url("../img/all/bg.jpg")/*tpa=common/img/all/bg.jpg*/; text-align: center; margin: 0px; padding: 0px; }
#mainContents	{ width: 760px; margin: 0 auto; border-left: 1px solid #666; border-right: 1px solid #666; }
#leadArea		{ margin: 0; }
#mainContentarea	{ margin: 20px 50px 0 50px; }
#blank30		{ height: 30px; }
#gotop			{ margin: 0 30px 20px 30px; }
.navigationArea	{ text-align: right; margin-right: 10px; }
.navigationArea p { margin: 0px 5px 0px 5px; }
#foot			{ height: 180px; z-index: 0; margin: 30px 0px 0px 0px; }


/* ------ TOP ------ */

#spcDiv		{ margin: auto; padding: 10px; width: 450px; background-color: #000022; border: 1px solid #333333; }
#spc		{ color: #FFFFFF; font-size: 12px; line-height: 160%; margin: auto; padding: 2px;  }


/* ------ STORY ------ */

#st			{ background: no-repeat center url("../../story/img/bg.jpg")/*tpa=story/img/bg.jpg*/;}


/* ------ ACTION ------ */

.contPadding	{ padding: 0 0 0 60px; }

#navigation { width:760px;}
#navigation a{display:block; width:100% ; height:29px;}
#navigation span{display:none;}

#left_bar		{ background: no-repeat url("../img/all/spacer.gif")/*tpa=common/img/all/spacer.gif*/; width:2px; height:30px;}


#story		{ background: no-repeat url("../img/navi/navian_01.jpg")/*tpa=common/img/navi/navian_01.jpg*/; width:72px; height:30px;}
#story a:hover	{ background: no-repeat url("../img/navi/navian_01_f.jpg")/*tpa=common/img/navi/navian_01_f.jpg*/;}

#chara		{ background: no-repeat url("../img/navi/navian_02.jpg")/*tpa=common/img/navi/navian_02.jpg*/; width:111px; height:30px;}
#chara a:hover	{ background: no-repeat url("../img/navi/navian_02_f.jpg")/*tpa=common/img/navi/navian_02_f.jpg*/;}

#guestchara{ background: no-repeat url("../img/navi/navian_03.jpg")/*tpa=common/img/navi/navian_03.jpg*/; width:111px; height:30px;}
#guestchara a:hover	{ background: no-repeat url("../img/navi/navian_03_f.jpg")/*tpa=common/img/navi/navian_03_f.jpg*/;}

#stage		{ background: no-repeat url("../img/navi/navian_04.jpg")/*tpa=common/img/navi/navian_04.jpg*/; width:93px; height:30px;}
#stage a:hover	{ background: no-repeat url("../img/navi/navian_04_f.jpg")/*tpa=common/img/navi/navian_04_f.jpg*/;}

#mode		{ background: no-repeat url("../img/navi/navian_05.jpg")/*tpa=common/img/navi/navian_05.jpg*/; width:77px; height:30px;}
#mode a:hover	{ background: no-repeat url("../img/navi/navian_05_f.jpg")/*tpa=common/img/navi/navian_05_f.jpg*/;}

#action		{ background: no-repeat url("../img/navi/navian_06.jpg")/*tpa=common/img/navi/navian_06.jpg*/; width:62px; height:30px;}
#action a:hover	{ background: no-repeat url("../img/navi/navian_06_f.jpg")/*tpa=common/img/navi/navian_06_f.jpg*/;}

#weapon		{ background: no-repeat url("../img/navi/navian_07.jpg")/*tpa=common/img/navi/navian_07.jpg*/; width:74px; height:30px;}
#weapon a:hover	{ background: no-repeat url("../img/navi/navian_07_f.jpg")/*tpa=common/img/navi/navian_07_f.jpg*/;}

#system		{ background: no-repeat url("../img/navi/navian_08.jpg")/*tpa=common/img/navi/navian_08.jpg*/; width:63px; height:30px;}
#system a:hover	{ background: no-repeat url("../img/navi/navian_08_f.jpg")/*tpa=common/img/navi/navian_08_f.jpg*/;}

#movie		{ background: no-repeat url("../img/navi/navian_09.jpg")/*tpa=common/img/navi/navian_09.jpg*/; width:97px; height:30px;}
#movie a:hover	{ background: no-repeat url("../img/navi/navian_09_f.jpg")/*tpa=common/img/navi/navian_09_f.jpg*/;}


#rightt_bar		{ background: no-repeat url("../img/all/spacer.gif")/*tpa=common/img/all/spacer.gif*/; width:1; height:30px;}


/* battle_system */
.cellTable		{ width: 660px; }
.chgImgArea		{ width: 220px; }
.chgImgAreaword p	{ width: 380px; }

.dispchange		{ color: #C11616; font-size: 12px; font-weight: normal; line-height: 120%; }